# docs
docs/build

# Dependencies
node_modules

# Logs
npm-debug.log
yarn-error.log
supervisord.log

# Cache
.sass-cache

# misc
CRES
snippet
.DS_Store
supervisord.pid

# Python
__pycache__
*.pyc
*.egg-info

