language: python
# dist: xenial
sudo: true
python:
  # - "2.6" # no longer supported.
  # - "2.7" # not supported.
  # - "3.2" # coverage seems to fail.
  # - "3.3" # seaborn is incompatible.
  # - "3.4" # hangs on pipenv install
  - "3.5" 
  # - "3.5-dev"
  - "3.6"
  - "3.7"
  # - "3.6-dev"
  # - "3.7-dev"

services:
  - postgresql

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres

install:
        #- curl -sL git.io/install-candis | sudo python
  - sudo python get-candis
script:
  - redis-cli ping
  - make test
