language: python
python:
  # - "2.6" # no longer supported.
  # - "2.7" # not supported.
  # - "3.2" # coverage seems to fail.
  # - "3.3" # seaborn is incompatible.
  # - "3.4" # hangs on pipenv install
  - "3.5" 
  # - "3.5-dev"
  - "3.6"
  # - "3.6-dev"
  # - "3.7-dev"
before_install:
    echo $CANDIS_DATABASE_NAME
