gunicorn
jupyter
pylint
sphinx
addict
pyyaml
requests

numpy
scipy
matplotlib
pandas
seaborn
rpy2
liac-arff

Cython
-e git+https://github.com/LeeKamentsky/python-javabridge.git#egg=javabridge
python-weka-wrapper3
pygraphviz
Pillow

Flask
django-htmlmin
flask-socketio
pytest
