honcho
jupyter
pylint
twine
sphinx
addict
pyyaml
requests

numpy
scipy
matplotlib
pandas
seaborn
rpy2
liac-arff

cython
git+https://github.com/LeeKamentsky/python-javabridge.git#egg=javabridge
python-weka-wrapper3
pygraphviz
Pillow

Flask
django-htmlmin
flask-socketio
gunicorn
pytest
coverage
