.no-margin {
  margin: 0 !important;
}

.no-decoration {
  text-decoration: none !important;
}

.no-background {
  background: none !important;
}

.no-border {
  border: none !important;
}

.no-shadow {
  box-shadow: none !important;
}

.cursor-pointer {
  cursor: pointer;
}
