.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-decoration {
  text-decoration: none !important;
}

.no-background {
  background: none !important;
}

.no-border {
  border: none !important;
}

.no-border-left {
  border-left: none !important;
}

.no-border-right {
  border-right: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-shadow {
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
}

.no-outline {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.vertical-center {
  display: flex;
  align-items: center;
  min-height: 100%;
  min-height: 100vh;
}