$color-white                                  : #FFF;
$color-primary                                : #E91E63;
$color-primary-dark                           : #C2185B;
$color-primary-darkest                        : #880E4F;

$color-gray-lightest                          : lighten(#000, 93.5%);

$font-weight-bold                             : 700;
$font-weight-heavy                            : 900;

$body-background-color                        : $color-gray-lightest;
