<!-- jQuery 1.12.4 -->
<script
  src="{{ url_for('static', filename = 'js/vendor/jquery-1.12.4.min.js') }}"></script>
<!-- BS v3.3.7 -->
<script
  src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>
<script
  src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<!--
<script
  src="{{ url_for('static', filename = 'js/vendor/bootstrap.min.js') }}"></script>
-->
<script
  src="https://use.fontawesome.com/e6af1cd139.js"></script>
<!-- D3 v4 -->
<script
  src="https://d3js.org/d3.v4.min.js"></script>
<!--
<script
  src="{{ url_for('static', filename = 'js/vendor/d3.min.js') }}"></script>
-->
<script
  src="{{ url_for('static', filename = 'js/bundle.min.js') }}"></script>
